<?xml version="1.0" encoding="UTF-8"?>
<configuration><texturePack>default</texturePack><keyBindings><MOVE_UP modifier="0" key="38"/><MOVE_DOWN modifier="0" key="40"/><MOVE_LEFT modifier="0" key="37"/><MOVE_RIGHT modifier="0" key="39"/><PAUSE_GAME modifier="0" key="32"/><RESUME_GAME modifier="0" key="27"/><TO_LEVEL_1 modifier="128" key="49"/><TO_LEVEL_2 modifier="128" key="50"/><LOAD_GAME modifier="128" key="82"/><SAVE_GAME modifier="128" key="83"/><QUIT_TO_MENU modifier="128" key="88"/></keyBindings><musicEnabled>false</musicEnabled><viewDistance>7</viewDistance></configuration>